body {
  background-color: blue;
}

hr{
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  width: 3%;
  border-width: 5px;
  border-color: grey;
}

h1{
  color: #66bfbf;
}

h3{
  color: red;
}
